<form class="task-form" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div class="task-form__group">
    <label>Title</label>
    <input type="text" formControlName="title" />
    <!-- Validation defined -->
    @if (taskForm.get('title')?.invalid && taskForm.get('title')?.touched) {
    <div class="error">Title is required.</div>
    }
  </div>

  <div class="task-form__group">
    <label>Description</label>
    <textarea rows="5" formControlName="description"></textarea>
    <!-- Validation defined -->
    @if (taskForm.get('description')?.invalid && taskForm.get('description')?.touched) {
    <div class="error">Description is required.</div>
    }
  </div>

  <div class="task-form__row">
    <div class="task-form__group">
      <label>Status</label>
      <select formControlName="status">
        <option value="todo">Todo</option>
        <option value="in-progress">In Progress</option>
        <option value="done">Done</option>
      </select>
      <!-- Validation defined -->
      @if (taskForm.get('status')?.invalid && taskForm.get('status')?.touched) {
      <div class="error">Status is required.</div>
      }
    </div>

    <div class="task-form__group">
      <label>Priority</label>

      <select formControlName="priority">
        <option>low</option>
        <option>medium</option>
        <option>high</option>
      </select>
      <!-- Validation defined -->
      @if (taskForm.get('priority')?.invalid && taskForm.get('priority')?.touched) {
      <div class="error">Priority is required.</div>
      }
    </div>
  </div>

  <div class="task-form__group">
    <label>Due Date</label>
    <input type="date" formControlName="dueDate" />
    <!-- Validation defined -->
    @if (taskForm.get('dueDate')?.invalid && taskForm.get('dueDate')?.touched) {
    <div class="error">Due Date is required.</div>
    }
  </div>

  <button type="submit">Save Task</button>
</form>